MediPort.Api/[Bb]in/
MediPort.RestApi/[Bb]in/
MediPort.Console/[Bb]in/
MediPort.Api/[Oo]bj/
MediPort.RestApi/[Oo]bj/
MediPort.Console/[Oo]bj/
MediPort.Api/[Dd]ebug/
MediPort.RestApi/[Dd]ebug/
MediPort.Console/[Dd]ebug/
/Mediport.Api.Tests/bin/Debug/net6.0
/Mediport.Api.Tests/obj
.vs/
/Mediport.Api.Tests/bin/Release/net6.0
/out
